<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm!</title>
</head>
<body>
<div class="checkout-box">
    <div class="check-main">
        <div class="check-card">
            <h1 class="check-head">Confirm!</h1>
            <div class="check-body">
                <p class="check-text">Verify the amount and click the button below to proceed.</p>
                <form>
                    <div class="check-list">
                        <label for="oredr">Order Id-</label>
                        <input type="text" readonly name="order" id="order" value='<%- payment_data.orderId %>'>
                    </div>
                    <div class="check-list">
                        <label for="currency">Currency-</label>
                        <input type="text" readonly name="currency" id="currency" value='<%- payment_data.currency %>'>
                    </div>
                    <div class="check-list">
                        <label for="amount">Amount-</label>
                        <input type="text" readonly name="amount" id="amount" value='<%- payment_data.amount/100 %>₹'>
                    </div>

                </form>
                

               <div class="check-btn-box">
                <button type="submit" class="check-btn" onclick="checkout(event)">Proceed</button>
                <button type="button" class="check-btn" id="check-cancel" onclick="history.back()">Cancel</button>
               </div>
            </div>
        </div>
        <form id="paymentVerifyForm" action="/payments/verify" method="POST">
            <input name="razorpay_payment_id" type="hidden" id="razorpay_payment_id" />
            <input name="razorpay_order_id" type="hidden" id="razorpay_order_id" />
            <input name="razorpay_signature" type="hidden" id="razorpay_signature" />
        </form>
    </div>
</div>
<style>
    * {
        padding: 0;
        margin: 0;
    }

    body{
        background-color: #003459;

    }

    .checkout-box {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .check-main {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        
    }

    .check-card {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin: 5px 15px;
        padding: 5px 10px;
        border-radius: 5px;
        border-top: 10px solid #007ea7 ;
        width:500px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
    .check-body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .check-body form{
        width: 100%;
    }
    .check-list{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 5px;
    }
    .check-list label, input{
        margin: 0px 5px;
        border: none;
        outline: none;
        font-size: 16px;
    }
    .check-list label{
        font-size: 20px;
        font-weight: 600;
    }
    .check-btn{
        border: none;
		outline: none;
		padding: 5px 20px;
		margin: 10px 2px;
		background-color:#00a72f;
		color: white;
		border-radius: 5px;
		font-size: 18px;
		transition: .4s;
		cursor: pointer;
    }
    .check-btn:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color: #00688b;
    }
    #check-cancel{
        background-color: #f93411ee;
    }
    .check-head{
        color: #00a72f;
        margin: 15px 2px;
    }
    .check-text{
        font-size: 16px;
        text-align: center;
        color: #003459;
    }
    @media (max-width:542px){
        .check-main{
            align-items: flex-start;
            justify-content: flex-start;
        }
        .check-card{
            height:auto;
            margin-top: 70px;
        }
    }

    @media (max-width:368px){
        .check-list label,input{
            font-size: 13px;
        }
        .check-head{
            font-size: 20px;
        }
        .check-btn{
            padding:2px 10px;
            font-size: 13px;
        }
    }
</style>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function checkout(event) {
        const razorpayKeyId = '<%- razorpayKeyId %>'
        const orderId = '<%- JSON.stringify(payment_data.orderId) %>'
        const options = {
            "key": "rzp_test_YJszVfQ6pfS8o9",
            "currency": "INR",
            "name": "Spirit'2023",
            "description": "Hope you doing well ☺️",
            "image": "/image/logo_dark.png",
            "order_id": JSON.parse(orderId),
            "handler": function (response) {
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                document.getElementById("paymentVerifyForm").submit();
            },
            "modal": {
                ondismiss: function () {
                    alert(`Payment Failed`)
                }
            },
            "theme": {
                "color": "#003459"
            }
        };
        const razorpay = new Razorpay(options);
        razorpay.open();
        event.preventDefault();
    }
</script>

</body>
</html>